@font-face {
  font-family: SAOUI;
  src: url('../font/SAOUI.otf');
}

body {
  color: #FFF;
  font-size: 26px;
  font-family: "SAOUI";
  background-image: url(../img/bg.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
}

.hp-bar {
  position: fixed;
  right: 30px;
  top: 20px;
}

.hp-bar-inner {
  position: relative;
  display: flex;
  flex-direction: row;
}

.hp-bar-left {
  display: flex;
  width: 25px;
  height: 60px;
  margin-right: 3px;
  background: rgba(255, 255, 255, 0.45);
}

.hp-bar-right {
  width: 475px;
  height: 60px;
  position: relative;
}

.hp-bar-right-top {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.hp-bar-right-bg {
  position: absolute;
  display: flex;
  flex-flow: row;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hp-bar-right-bg-l {
  background: rgba(255, 255, 255, 0.45);
  width: 62%;
  height: 100%;
}

.hp-bar-right-bg-r {
  width: 38%;
  height: 40px;
  overflow: hidden;
}

.hp-bar-right-bg-r-inner {
  background: rgba(255, 255, 255, 0.45);
  transform: skewX(-30deg);
  height: 100%;
  width: 100%;
  margin-left: -15px;
}

.hp-bar-info {
  display: flex;
  flex-direction: row;
}

.hp-bar-username {
  padding: 0 4px 0 10px;
  font-size: 32px;
  line-height: 28px;
  color: #FFF;
}

/* hp-value-indicator */
.hp-value-indicator {
  position: relative;
  width: 365px;
  height: 25px;
}

/* hp-value */
.hp-value-group {}

.hp-value-mask {
    position: absolute;
    z-index: 3;
    background: linear-gradient(rgba(74, 74, 74, 0.5), rgba(74, 74, 74, 0.24), rgba(74, 74, 74, 0));
    width: 99%;
    height: 13px;
    top: 0;
    left: 0;
}

.hp-value-wrap.left {
  z-index: 2;
  top: 4px;
  left: 4px;
  width: calc(60% - 5px);
  height: 21px;
  position: absolute;
  overflow: hidden;
}

.hp-value-wrap.left > .inner {
  height: 100%;
  width: calc(100% + 6px);
  margin-left: -6px;
  transform: skewX(-30deg);
  background: #84de1c;
}

.hp-value-wrap.right {
  z-index: 2;
  top: 0;
  left: calc(60% + -1px);
  width: 38%;
  height: 15px;
  position: absolute;
  overflow: hidden;
}

.hp-value-wrap.right .inner {
  height: 100%;
  width: calc(100% + 10px);
  margin-left: -10px;
  background: #84de1c;
  transform: skewX(-30deg);
}

/* hp-border */
.hp-border-group {
  width: 100%;
  height: 30px;
}

.hp-border-wrap {
  position: absolute;
  top: 0;
  z-index: 4;
}

.hp-border-wrap > .inner {
  border: 2px solid #d5d628;
  border-right-width: 3px;
}

.hp-border-wrap.left {
  left: 0;
  height: 30px;
  width: 10px;
  overflow: hidden;
}

.hp-border-wrap.left > .inner {
  height: 25px;
  width: 15px;
  box-shadow: inset 0.3px 0px 0 2px rgba(0, 0, 0, 0.53);
}

.hp-border-wrap.left-sloping {
  left: 10px;
  height: 30px;
  width: calc(60% - 10px);
  overflow: hidden;
  z-index: 5;
}

.hp-border-wrap.left-sloping > .inner {
  height: 25px;
  width: calc(100% + 32px);
  margin-left: -32.95px;
  transform: skewX(-30deg);
  border-right-width: 1.5px;
  box-shadow: inset 0.3px 0px 0 2px rgba(0, 0, 0, 0.53);
}

.hp-border-wrap.right-sloping {
  left: calc(60%);
  height: 20px;
  width: 40%;
  overflow: hidden;
}

.hp-border-wrap.right-sloping > .inner {
  height: 14px;
  border-right-width: 2.5px;
  box-shadow: inset -0.4px 0px 0 2px rgba(0, 0, 0, 0.53);
  width: calc(100% + 31px);
  margin-left: -41.6px;
  transform: skewX(-30deg);
}

.hp-badage {
  position: absolute;
  top: -9px;
  right: -41px;
  transform: skewX(-30deg);
  height: 29px;
  width: 38px;
  background: #f3f315;
  z-index: 4;
  box-shadow: 0 0 3px #f3f315;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-badage > svg {
    width: 17px;
    height: 17px;
}

/* hp-sub-info */
.hp-sub-info {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 9px;
  bottom: -11px;
  font-size: 20px;
}

.hp-sub-info-left {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 0 0 0 4px;
  padding: 3px 13px;
}

.hp-sub-info-right {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 0 4px 4px 0;
  margin-left: 2px;
  padding: 3px 13px;
}
